
  html,
body {
  padding: 10;
  margin: 20;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: blue;
  text-decoration: none;
}


  .title {
    margin: 5;
    line-height: 1.15;
    font-size: 2rem;
    padding-right: 40;
  }

  .header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #eaeaea;
  }

